<div class="topnav" *ngIf="getKeycloakService().isLogged()==true">
  <nav>
    <a routerLink="/home" routerLinkActive="active">Главная</a>
    <a routerLink="/contact" routerLinkActive="active">Контакты</a>
    <a routerLink="/changecourse" routerLinkActive="active">Изменить сценарий</a>
    <a routerLink="/createcourse"  routerLinkActive="active">Создать сценарий</a>
    <a routerLink="/allcourse"  routerLinkActive="active">Все сценарии</a>
    <a routerLink="/userprofile"  routerLinkActive="active">Профиль пользователя</a>
    <img src="https://sun9-30.userapi.com/c857528/v857528994/109ba4/n2WOrHlyOXU.jpg" width="205" height="" alt="logo">
  </nav>
  <router-outlet></router-outlet>
</div>

<div class="topnav" *ngIf="getKeycloakService().isLogged()!=true">
  <nav>
    <a routerLink="/home" routerLinkActive="active">Главная</a>
    <a routerLink="/contact" routerLinkActive="active">Контакты</a>
    <a routerLink="/changecourse" routerLinkActive="active">Изменить сценарий</a>
    <a routerLink="/createcourse"  routerLinkActive="active">Создать сценарий</a>
    <a routerLink="/allcourse"  routerLinkActive="active">Все сценарии</a>
    <a routerLink="/secured"  routerLinkActive="active">Войти</a>
    <img src="https://sun9-30.userapi.com/c857528/v857528994/109ba4/n2WOrHlyOXU.jpg" width="205" height="" alt="logo">
  </nav>
  <router-outlet></router-outlet>
</div>






