<div class="center">
	<div *ngIf="errors">{{stringify(errors)}}</div>
	<p>This is a public page accessible to anyone.</p>
	<p>User edward should be able to call the api while kerri should throw forbidden error since she doesn't have APIAccess role.</p>
	<ul>
		<li>
			<a [routerLink]="['/secured']">Secured page in the same module.</a></li>


		<li *ngIf="getKeycloakService().isLogged()">
			<a (click)="getKeycloakService().logout()">Logout</a></li>
	</ul>

</div>

<br>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://sun9-12.userapi.com/c857528/v857528994/109bbc/oOKHB7YIrOc.jpg" alt="Random first slide"  style="width:87%;" vspace="3" hspace="91">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://sun9-30.userapi.com/c857720/v857720339/16a5f2/H0tX_X1deX4.jpg" alt="Random second slide" style="width:87%;" vspace="3" hspace="91">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://sun9-60.userapi.com/c857720/v857720339/16a5fa/7bzTrjLasYw.jpg" alt="Random third slide" style="width:87%;" vspace="3" hspace="91">
    </div>
  </ng-template>
</ngb-carousel>



